# Python
pandas==2.2.1
matplotlib==3.8.2

# WSGI
flask==3.1.1
gunicorn==23.0.0

# MODBUS
pyserial==3.5
modpoll==1.5.0
minimalmodbus==2.1.1

# DB
SQLAlchemy==2.0.41
influxdb-client==1.49.0

# Utilities
python-dotenv==1.1.0
APScheduler==3.11.0